<!-- страница получения подробной информации об объявлении -->
{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Test Set
{% endblock %}

{% block content %}
 <style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
{% for test in tests %}
<p align="left">
<h2>{{ test }}</h2>
<button type="submit" class="btn btn-success">
 <a href="{% url 'test_detail' test.id %}" style="color:white">Start testing</a>
</button>
</p>
{% endfor %}

{% endblock %}