<!-- страница получения подробной информации об объявлении -->
{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Set Detail
{% endblock %}

{% block content %}
 <style>
   table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border: 1px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
Hello

{% endblock %}