{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Test sets
{% endblock %}

{% block content %}
<style>
   table {
    width: 100%; /* Ширина таблицы */
    border: 10px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 10px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
</style>

{% for set in sets %}
<h2>{{ set }}</h2><br>
<button type="submit" class="btn btn-success">
    <a href="{% url 'set_detail' set.id %}" style="color:white">Choose</a>
</button>
{% endfor %}

{% endblock %}
