{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}
Tests
{% endblock %}

{% block content %}
<style>
   table {
    width: 100%; /* Ширина таблицы */
    border: 10px;
   }
   td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 10px;
    vertical-align: 10px;
   }
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

</style>

{{ first_question }}
<br>
<button type="submit" class="btn btn-success">
    <a href="{% url 'question' first_question.id %}" style="color:white">Next question</a>
</button>

{% endblock %}